*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: Verdana;
}

:root {
    --default: #1e1c1d;
    --footer: #141414;
    --box-background: #333333;
    --data-color: #009ea6;
    --btn-color: #e51937;
    --border-color: #282828;
}

body {
    padding-left: 10%;
    background-color: var(--default);
    width: 80%;
    height: 100%;
}

header.header {
    border-bottom: 1px solid var(--border-color);
}

.nav-top {
    padding: .3em;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-btn {
    background-color: var(--btn-color);
    color: white;
    padding: .3em;
    border-radius: .5em;
    text-decoration: none;
}

.nav-image {
    height: 75px;
    margin-left: 20px;
    object-fit: cover;
}

.nav-form {
    display: flex;
}

.nav-ul {
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin: 10px;
}

.nav-search {
}

.nav-search span {
    margin: 0 10px;
    color: darkcyan;
}

.nav-search-input {
    width: 75px;
}

.gray-nav-link {
    color: gray;
}

.red {
    color: var(--btn-color);
}

.container{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.container-links{
    padding: 1em;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.events-htags{
    text-align: left;
}

.events-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.hero-links{
    margin-right: 5em;
    margin-left: 5em;
}

.hero-image{
    width: 100%;
}

.hero-container-links{
    margin-bottom: .1em;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-row: 1;
    grid-column: 5;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 2em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 1em;
}

.events-img{
    width: 100%;
    object-fit: cover;
    text-align: right;
}

.event-img{
    width: 100%;
    object-fit: cover;
    margin-bottom: .3em;
}

.events-ptag{
    text-align: left;
}




.container-bane {
    width: 50%;
    margin-right: 20px;
}

.container-bane-header {
    display: flex;
    align-items: center;
}

.container-bane-header-h2 {
    margin-right: 10px;
}

.container-bane-header-span {
    color: darkcyan;
    font-size: 12px;
}

.container-bane-header-image {
    margin-left: auto;
}


.container-event {
    width: 50%;
    margin-left: 20px;
}

.activity-container{
    display: flex;
}

.container-bane-content {
    list-style: none;
    margin-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.container-bane-content-item {
    display: flex;
    align-items: center;
}

.container-bane-content-item-date {
    background-color: var(--data-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 75px;
    height: 50px;
    justify-content: flex-start;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.container-bane-content-item-date-heading {
    font-size: 25px;
    font-weight: bold;
}

.container-bane-content-item-aside {
    height: 125px;
    background-color: var(--box-background);
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.container-bane-content-item-aside-text {
    max-width: 60%;
}

.container-bane-content-item-aside-text-h3 {
    margin-bottom: 5px;
}

.container-bane-content-item-aside-text-p {
    font-size: 12px;
    margin: 0;
}

.container-bane-content-item-aside-button {
    background-color: var(--btn-color);
    padding: 5px 15px;
    align-self: center;
}

.container-event-content {
    list-style: none;
    margin-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.container-event-content-item {
    height: 125px;
    background-color: var(--box-background);
    padding: 10px;
    display: flex;
}

.container-event-content-item-img {
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.container-event-content-item-content {
    display: flex;
    justify-content: space-between;
}

.container-event-content-item-content-icon {
    color: red;
    font-size: 20px;
    margin-right: 20px;
    align-self: center;
}

.container-event-content-item-content-text {
    max-width: 60%;
}

.container-event-content-item-content-text-h3 {
    margin-bottom: 5px;
}

.container-event-content-item-content-text-p {
    font-size: 12px;
    margin: 0;
}

.footer-bar {
    background-color: var(--footer);
    display: grid;
    grid-row: 1;
    grid-column: 4;
    padding: 3em 4em;
    padding-bottom: 0em;
}

.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 1em;
}


.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-color) 1px solid;
    margin-bottom: 10px;
}


.footer-title {
    font-weight: bold;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-search-box {
    display: flex;
}

.footer-search-bar {
    height: 2.2em;
    width: 90%;
    color: black;
    padding-left: 1em;
}

.footer-logo {
    width: 125%;
}

.under-footer-container{
    display: grid;
    grid-row: 1;
    grid-column: 4;
}
.col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 1em;

    gap: 2em;
}