
@media only screen and (max-width: 1100px) {
    body {
        width: 100%;
        padding: 0;
    }
    
    .events-htags{
        text-align: left;
        padding-top: 1em;
    }

    .events-container {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    .hero-links{
        margin-right: 5em;
        margin-left: 5em;
    }

    .hero-image{
        width: 100%;
    }

    .hero-container-links{
        margin-bottom: .1em;
        width: 100%;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .grid {
        padding-top: 1em;
        display: grid;
        grid-row: 5;
        grid-column: 1;
    }


    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        flex-direction: column;
        gap: 2em;
        padding-top: 2em;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        margin-bottom: 1em;
    }

    .events-img{
        width: 40%;
        object-fit: cover;
        text-align: right;
    }

    .event-img{
        width: 100%;
        object-fit: cover;
        margin-bottom: .3em;
    }

    .events-ptag{
        text-align: center;
    }




    .activity-container{
        display: grid;
        grid-row: 2;
        grid-column: 1;
    }

    .container-bane {
        width: 80%;
        margin: 50px auto;
    }

    .container-event{
        width: 80%;
        margin: 0 auto;
    }

    .container-bane-content {
        list-style: none;
        margin-top: 20px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .container-bane-content-item {
        display: flex;
        align-items: center;
    }

    .container-bane-content-item-date {
        background-color: var(--data-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        width: 75px;
        height: 50px;
        justify-content: flex-start;
        border-bottom-left-radius: .5em;
        border-bottom-right-radius: .5em;
    }

    .container-bane-content-item-date-heading {
        font-size: 25px;
        font-weight: bold;
    }

    .container-bane-content-item-aside {
        height: 125px;
        background-color: var(--box-background);
        flex-grow: 1;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .container-bane-content-item-aside-text {
        max-width: 60%;
    }

    .container-bane-content-item-aside-text-h3 {
        margin-bottom: 5px;
    }

    .container-bane-content-item-aside-text-p {
        font-size: 12px;
        margin: 0;
    }

    .container-bane-content-item-aside-button {
        background-color: var(--btn-color);
        padding: 5px 15px;
        align-self: center;
    }

    .container-event-content {
        list-style: none;
        margin-top: 20px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .container-event-content-item {
        height: 125px;
        background-color: var(--box-background);
        padding: 10px;
        display: flex;
    }

    .container-event-content-item-img {
        height: 100%;
        object-fit: cover;
        margin-right: 20px;
    }

    .container-event-content-item-content {
        display: flex;
        justify-content: space-between;
    }

    .container-event-content-item-content-icon {
        color: red;
        font-size: 20px;
        margin-right: 20px;
        align-self: center;
    }

    .container-event-content-item-content-text {
        max-width: 60%;
    }

    .container-event-content-item-content-text-h3 {
        margin-bottom: 5px;
    }

    .container-event-content-item-content-text-p {
        font-size: 12px;
        margin: 0;
    }

    .under-footer-container{
        display: grid;
        grid-row: 1;
        grid-column: 4;
    }
    .col{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;
        margin-bottom: 1em;
    
        gap: 2em;
    }
  }